<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.android.bluetooth.overlay.xiaomi_sweet">
    <overlay android:targetPackage="com.android.bluetooth" android:targetName="BluetoothCustomization" android:isStatic="true" />
</manifest>
